<%= @post.title %><br>
<%= @post.content %>

<%= button_to "Like", post_path(@post), method: :put %>
<%= @post.likes %>

<p>Written by: <%= link_to @post.blogger.name, blogger_path(@post.blogger)%></p>
<p>Destination: <%= link_to @post.destination.name, destination_path(@post.destination) %></p>